$bg: #faf9f8;
$grey: #9c9798;
$linkgrey: #5a5a5a;
$accentdark: hsl(347deg 75% 54%);
$accentlight: rgb(242, 230, 227);
body {
  font-family: "Karla", sans-serif;
  background-color: $bg;
  padding-top: 120px;
  @media screen and (min-width: 767px) {
    padding-top: 95px;
  }
}

.form-group.is-invalid {
  .invalid-feedback {
    display: block;
  }
}

img {
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $linkgrey;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: '"Times New Roman",Times,serif';
}

button {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
}

input[type="checkbox" i] {
  border-radius: 0;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  // border: 0.5px solid black;
  border-radius: 0;
  border: none;
}

.page-link {
  &:focus {
    border-color: rgb(70, 70, 70);
    box-shadow: 0 0 0 0;
  }
  &:hover {
    border-color: rgb(70, 70, 70);
  }
}

//hero
.hero-page {
  h1,
  h2 {
    letter-spacing: 0.2rem;
  }
  .inner-hero-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }
  .hero-btn {
    color: white;
    background-color: rgba(#000, 0.3);
    font-weight: 600;
    letter-spacing: 0.3rem;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: rgba(#000, 0.6);
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .inner-hero-section img,
  .inner-hero-section svg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .hero-subsection-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 767px) {
      flex-direction: row;
      width: 100%;
    }
    .hero-subsection {
      position: relative;
      overflow: hidden;
      height: 500px;
      width: 100%;
      @media screen and (min-width: 767px) {
        width: 50%;
      }
    }
    .hero-subsection img,
    .hero-subsection svg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: cover;
      z-index: -2;
    }
  }
}

.shopify-challenge__container {
  margin: 0 auto 1rem auto;
  .shopify-challenge__button {
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 0;
    margin: 0 auto 1rem auto;
  }
}

.login-form,
.forgot-password-form {
  width: 100%;
  max-width: 330px;
  margin: auto;
  .forgot-pw {
    justify-content: flex-end;
    display: flex;
    font-size: 0.8rem;
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: black;
      }
    }
  }
  .text-center {
    color: $grey;
    a {
      color: $grey;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: black;
      }
    }
  }
}

.product-list-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  // &:after {
  //   content: "";
  //   flex: auto;
  // }
}

.product-card {
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 250px;
  position: relative;

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    border-top: 2px solid $accentdark;
    border-left: 2px solid $accentdark;
    padding: 5px;
    color: $accentdark;
    font-weight: bold;
  }
}

.product-detail-container {
  margin-top: auto;
  p,
  del {
    font-size: 0.8rem;
  }
}

.price {
  font-weight: bold;
  margin-right: 4px;
}
.vendor {
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
}

.rec-card {
  font-size: 0.8rem;

  .rec-img {
    height: 320px;
    object-position: center;
    object-fit: center;
  }

  .card-body {
    padding: 0.6rem;
  }
}

// navbar
.nav-header {
  background-color: $bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .cart-badge {
    position: absolute;
    top: -2rem;
    right: -2rem;
    z-index: -1;
    border-radius: 50%;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 700;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff4040;
    box-shadow: 0 0 0 0.3rem #ff9f9f;
  }
  .nav-container {
    // max-width: 960px;
    padding: 15px 15px 15px 120px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (max-width: 840px) {
      padding: 15px;
    }
    .brand {
      position: absolute;
      top: 4px;
      left: 6px;

      img {
        height: 42px;
      }
      @media screen and (max-width: 840px) {
        top: 22px;
        left: 40%;

        img {
          height: 50px;
        }
      }

      @media screen and (max-width: 450px) {
        top: 32px;
        left: 31%;

        img {
          height: 36px;
        }
      }
    }
    .mobile-nav {
      display: none;
      @media screen and (max-width: 840px) {
        display: flex;
        justify-content: flex-end;
      }
    }
    .nav-bar {
      .nav-menu {
        display: flex;
        list-style-type: none;
        .menu-item {
          position: relative;
          a {
            display: block;
            color: black;
            text-decoration: none;
            padding: 10px 25px;
            &:hover {
              color: black;
              background-color: #eaeaea;
            }
          }
          &.has-sub-menu {
            > a {
              position: relative;
              &:after {
                content: "+";
                display: block;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: $accentdark;
                font-size: 18px;
                font-weight: bold;
                @media screen and (max-width: 840px) {
                  right: 33%;
                  font-size: 22px;
                }
              }
              &:hover {
                &:after {
                  color: $accentdark;
                }
              }
            }
            .sub-menu {
              position: absolute;
              z-index: 999;
              opacity: 0;
              transform: translateY(-200px);
              pointer-events: none;
              transition: 0.5s ease-out;
              min-width: 100%;
              width: max-content;
              background-color: #f5f5f5;
              list-style-type: none;
              @media screen and (max-width: 840px) {
                position: relative;
              }
              .menu-item {
                width: 100%;
              }
            }
            &:hover {
              > .sub-menu {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
                .sub-menu {
                  top: 0;
                  left: 100%;
                  @media screen and (max-width: 840px) {
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 840px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 200vh;
        z-index: 999;
        background-color: #f5f5f5;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s ease-out;
        &.is-active {
          opacity: 1;
          pointer-events: all;
        }
        .nav-menu {
          font-size: 1.3rem;
          flex-direction: column;
          padding-top: 30px;
          text-align: right;
          .has-sub-menu {
            > .sub-menu {
              display: none;
              position: relative;
              .sub-menu {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
              }
            }
            &:hover {
              > .sub-menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .menu-btn {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1000;
    // position: fixed;
    // top: 35px;
    // left: 25px;
  }
  .menu-btn__burger {
    z-index: 10;
    width: 22px;
    height: 2px;
    background: $accentdark;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 22px;
    height: 2px;
    background: $accentdark;
    content: "";
    position: absolute;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-7px);
  }
  .menu-btn__burger::after {
    transform: translateY(7px);
  }
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .user-icon,
  .bag-icon,
  .search-icon {
    width: 20px;
    height: 20px;
    z-index: 998;
    margin-left: 6px;
    img svg {
      height: 20px;
      width: 20px;
    }
  }
  .bag-icon {
    a {
      position: relative;
      .cart-badge {
        position: absolute;
        top: -0.5rem;
        right: -0.8rem;
        z-index: -1;
        border-radius: 50%;
        color: #fff;
        font-size: 0.6rem;
        font-weight: 700;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $accentdark;
        box-shadow: 0 0 0 0.3rem #fdaaaa;
      }
    }
  }
  .search-icon {
    display: none;
    @media screen and (max-width: 840px) {
      display: inline-block;
    }
  }
}

.icons-section {
  display: flex;
  column-gap: 5px;
  padding-right: 25px;
}

.search-bar {
  display: inline-block;
  #close-searchbar {
    display: none;
  }
  .search-bar-icon {
    display: none;
  }
  input {
    font-size: 0.9rem;

    &:focus-visible {
      outline: none;
    }
  }
  @media screen and (max-width: 840px) {
    background-color: $bg;
    height: 250px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    transform: translateY(-260px);
    border-bottom: 0.2px solid #d7d7d8;
    transition: all 0.5s ease-in-out;
    z-index: 1001;
    align-items: center;
    &.is-active {
      transform: translateY(0px);
    }
    form {
      display: flex;
      justify-content: center;
    }
    .search-bar-icon,
    .close-search-bar-icon {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    .search-bar-input {
      border: none;
      margin: 0 1rem 0 1rem;
      padding: 10px !important;
    }
  }
}

//product page
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "image1 image1" "infoblock infoblock" "cartblock cartblock" "image2 image2";
  @media screen and (min-width: 500px) {
    grid-template-areas: "image1 cartblock" "infoblock cartblock" "image2 cartblock";
  }
  .add-to-cart-block {
    grid-area: cartblock;
    position: relative;
  }

  .img-1,
  .long-description,
  .img-2,
  .img-3 {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;

    a {
      cursor: crosshair;
    }
  }
  .img-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease-out;
  }
  .description-block {
    position: relative;
    grid-area: infoblock;
    background-color: white;
    padding: 2rem;

    .saldi {
      position: absolute;
      font-size: 1.3rem;
      text-transform: uppercase;
      top: -15px;
      left: 15px;
      color: $accentdark;
      font-weight: bold;
    }
    p {
      margin-right: 5px;
    }

    ul {
      font-size: 0.9rem;
      list-style-type: disc;
      padding-left: 15px;
    }

    .compare-at-price {
      color: $grey;
    }
  }
  .first-images-wrapper,
  .second-images-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    grid-area: image1;

    @media screen and (min-width: 767px) {
      flex-direction: row;
      column-gap: 1rem;
    }
  }
  .second-images-wrapper {
    grid-area: image2;
  }
}
.long-description {
  background-color: white;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 0.9rem;
    font-family: "Courier New", Courier, monospace;
  }
}

.modal-body {
  position: relative;
  .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    &:hover {
      .close-modal-icon {
        filter: invert(0%);
      }
    }
    .close-modal-icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      filter: invert(60%);
      transition: 0.4s ease-in-out;
    }
  }
}

.form-select,
.form-control {
  &:focus {
    border-color: rgb(70, 70, 70);
    box-shadow: 0 0 0 0;
  }
}

.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.products-page {
  text-transform: uppercase;
  padding-bottom: 1rem;
  .active-filters {
    display: flex;
    margin: 0.5rem;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    p {
      font-size: 0.7rem;
      font-weight: 700;
    }
    .close-icon {
      width: 1rem;
      margin-bottom: 0.3rem;
      filter: invert(60%);
      transition: all 0.4s ease-in-out;
      &:hover {
        filter: invert(0%);
      }
    }
  }
  .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .btn-light {
      font-size: 0.9rem;
      font-weight: 700;
      display: flex;
      text-align: center;
      @media screen and (min-width: 990px) {
        display: none;
      }
      .control-icon {
        width: 1rem;
        margin-left: 0.5rem;
        transform: rotate(90deg);
      }
    }
  }
  .filters-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
    padding-left: 2rem;
    top: 0;
    right: 0;
    align-items: left;
    justify-content: flex-start;
    background-color: $bg;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    z-index: 999;
    transform: translateX(80rem);
    transition: 1s ease-in-out;
    padding-left: 2rem;
    &.show {
      transform: translateX(0rem);
    }
    @media screen and (min-width: 990px) {
      position: relative;
      height: auto;
      width: auto;
      column-gap: 0.5rem;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      transform: translateX(0rem);
      z-index: 0;
      padding-top: 0rem;
    }
    .sort-section {
      display: flex;
      flex-direction: column;
      p {
        @media screen and (max-width: 990px) {
          display: none;
        }
        border-bottom: 1px solid black;
        font-size: 0.6rem;
        margin-left: 12px;
      }
    }
    .filter-section {
      display: flex;
      flex-direction: column;
      .filter-subsection {
        display: flex;
        flex-direction: column;

        button {
          font-size: 0.9rem;
          @media screen and (min-width: 990px) {
            font-size: 0.7rem;
          }
        }
        @media screen and (min-width: 990px) {
          flex-direction: row;
          margin-left: 12px;
        }
      }
      p {
        @media screen and (max-width: 990px) {
          display: none;
        }
        border-bottom: 1px solid black;
        font-size: 0.6rem;
        margin-left: 12px;
      }
    }
    .delete-filters {
      font-weight: 700;
      font-size: 0.9rem;
      padding-left: 12px;
      padding-top: 12px;

      @media screen and (min-width: 990px) {
        font-size: 0.7rem;
      }
    }
    #close-filters-icon {
      width: 2rem;
      position: absolute;
      top: 15px;
      right: 15px;
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
    .sort-form {
      background-color: $bg;
      font-size: 0.9rem;
      font-weight: 700;
      cursor: pointer;
      width: 18rem;
      padding: 12px;
      color: black;

      @media screen and (min-width: 990px) {
        padding: 0 0 0 12px;
        font-size: 0.7rem;
      }
      option {
        font-size: 0.9rem;
        font-weight: 700;

        @media screen and (min-width: 990px) {
          font-size: 0.7rem;
        }
      }
    }
    .dropdown {
      padding: 12px;

      @media screen and (min-width: 990px) {
        padding: 0px;
      }

      .dd-label {
        font-size: 0.9rem;

        @media screen and (min-width: 990px) {
          font-size: 0.7rem;
        }
      }
      .dropdown-menu {
        border-radius: 0;
        padding: 0.5rem;
      }
      .btn-secondary,
      .btn-check:focus + .btn-secondary,
      .btn-secondary:focus {
        color: black;
        background-color: $bg;
        border: none;
        border-radius: 0;
        font-size: 0.9rem;
        font-weight: 700;
        box-shadow: 0 0 0 0;

        @media screen and (min-width: 990px) {
          font-size: 0.7rem;
        }
      }
      .btn-check:focus + .btn-secondary,
      .btn-secondary:focus {
        box-shadow: 0 0 0 0;
      }
      .btn-secondary:hover {
        color: black;
        background-color: $bg;
      }
      .btn-secondary:after {
        border: none;
        content: "";
        background-repeat: no-repeat;
        background-position: left 1rem center;
        background-size: 16px 12px;
        width: 30px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      }
      .applybtn {
        border-radius: 0;
        background-color: white;
        border: black solid 0.5px;
        font-size: 0.7rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
      }
    }
  }
}

.search-suggestions {
  border-radius: 0;
  margin-bottom: 0.5rem;
}

// cart
.cart {
  .cart-page {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 767px) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
    }
    .cart-item {
      font-size: 0.8rem;
      margin: 0 2rem 1rem 2rem;
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      max-width: 930px;
      border-bottom: 1px solid $grey;
      gap: 1rem;
      @media screen and (min-width: 767px) {
        flex-direction: row;
        justify-content: space-between;
      }
      .image-block {
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;
        img {
          max-width: 220px;
        }
        @media screen and (min-width: 767px) {
          justify-content: center;
          img {
            width: 190px;
          }
        }
      }
      .summary-block {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        justify-content: space-between;
        // @media screen and (min-width: 767px) {
        //   justify-content: center;
        // }
        input {
          height: 2rem;
          width: 5rem;
          text-align: center;
          border: 1px solid black;
          &:focus-visible {
            outline: none;
          }
        }
        .price-block {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          p {
            text-align: right;
          }
          a {
            font-size: 0.7rem;
            color: $grey;
            font-weight: 700;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
    .cart-summary {
      margin: 0 2rem 0 2rem;
      border: 1px solid black;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h1 {
        font-size: 1.5rem;
      }
      .note {
        font-size: 0.7rem;
      }
    }
  }
}

// footer
footer {
  .cr {
    font-size: 0.8rem;
  }
  .footer-section {
    text-align: left;
    @media screen and (max-width: 770px) {
      text-align: center;
    }
  }
  .footer-links {
    background-color: $bg;
  }
  img {
    width: 1.2rem;
    filter: invert(60%);
  }
  .sib-form {
    font-family: "Karla", sans-serif;
    text-align: center;
    background-color: white;
    #error-message {
      font-size: 16px;
      text-align: left;
      background-color: $bg;
      border-color: #ff4949;
      max-width: 540px;
    }
    #success-message {
      font-size: 16px;
      text-align: left;
      color: #085229;
      background-color: $bg;
      border-color: #13ce66;
      max-width: 540px;
    }
    .entry__field {
      border-radius: 0;
    }
    .entry__choice {
      text-indent: -0.8em;
    }
    .entry__error--primary {
      font-size: 16px;
      text-align: left;
      color: #661d1d;
      background-color: $bg;
      border-color: #ff4949;
    }
    .sib-form-block {
      text-align: left;
    }
    .checkbox {
      border-radius: 0;
    }
    .entry__specification {
      font-size: 12px;
      text-align: left;
      color: #8390a4;
    }
    .confirm-label {
      font-size: 14px;
      text-align: left;
      color: #3c4858;
      background-color: transparent;
    }
    #sib-container {
      text-align: center;
      background-color: $accentlight;
      border: none;
      input:-ms-input-placeholder {
        text-align: left;
        color: #c0ccda;
      }
      input::placeholder {
        text-align: left;
        color: #c0ccda;
      }
    }
  }
  #button-addon1 {
    color: #ffc371;
  }
  i {
    color: #ffc371;
  }
  h6 {
    font-size: 1rem;
  }
  li {
    font-size: 0.8rem;
  }
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
}

//page template
.page-template {
  h1 {
    margin-top: 1rem;
  }
  img {
    max-height: 15rem;
    width: 100%;
    object-position: center;
  }
  .subtitle {
    font-weight: 700;
  }
}

//account
.account {
  p {
    color: $grey;
    font-size: 0.8rem;
    a {
      color: $grey;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: black;
      }
    }
  }
}

// address
.address-card {
  min-height: 220px;
}

//slider
#announcement-bar-with-slider.ab-slider {
  position: fixed;
}

#announcement-bar-with-slider ~ main {
  padding-top: 55px;
}

#announcement-bar-with-slider ~ .search-bar {
  height: 165px;
}
