<div class="container my-5">
    <div class="login-form">
        {% form 'create_customer', class: "needs-validation" %} {% include 'form-error', form: form %}
        <h1 class="h3 text-center text-dark">Registrazione Cliente</h1>
        <div>
            <label class="form-label" for="firstName">Nome</label>
            <input class="form-control rounded-0 my-2" name="customer[first_name]" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Inserisci il nome')" required type="text">
        </div>
        <div>
            <label for="lastName">Cognome</label>
            <input class="form-control rounded-0 my-2" name="customer[last_name]" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Inserisci il cognome')" required type="text">
            <div class="invalid-feedback">
                Inserisci il cognome
            </div>
        </div>
        <label for="emailAddress">Indirizzo Email</label>
        <input class="form-control rounded-0 my-2" name="customer[email]" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Inserisci una email valida')" required type="email">
        <label for="password">Password</label>
        <input class="form-control rounded-0 my-2" name="customer[password]" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Inserisci la password')" required type="password">
        <input class="btn text-uppercase btn-dark w-100 rounded-0" type="submit" value="Crea un account"> {% endform %}
    </div>
</div>