<!-- /templates/customers/register.liquid -->
<div class="container py-5 my-5">
    <div class="login-form">
        {% form 'create_customer' %}
            {% include 'form-error', form: form %}
            <h1 class="h3">Registrazione Cliente</h1>
            <label for="firstName">Nome</label>
            <input class="form-control rounded-0 my-2" name="customer[first_name]" type="text">
            <label for="lastName">Cognome</label>
            <input class="form-control rounded-0 my-2" name="customer[last_name]" type="text">
            <label for="emailAddress">Indirizzo Email</label>
            <input class="form-control rounded-0 my-2" name="customer[email]" type="email">
            <label for="password">Password</label>
            <input class="form-control rounded-0 my-2" name="customer[password]" type="password">

            <input type="submit" value="Crea un account" class="btn btn-primary btn-lg w-100 rounded-0">
        {% endform %}
