<!-- /templates/customers/reset_password.liquid -->
<div class="container my-5">
    <h1 class="lead">Reimposta la Password</h1>
    <div class="row">
        {% form 'reset_customer_password' %}
            {% include 'form-error', form: form %}

            <div class="col-12">
                <label class="form-label" for="activate_password1">Password</label>
                <input class="form-control" id="activate_password1" name="customer[password]" size="10" type="password">
            </div>
            <div class="col-12">
                <label class="form-label" for="activate_password2">Conferma la Password</label>
                <input class="form-control" id="activate_password2" name="customer[password_confirmation]" size="10" type="password">
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100 rounded-0" type="submit">Reimposta la Password</button>
            </div>
        {% endform %}
    </div>
</div>