body {
  font-family: "Karla", sans-serif;
  background-color: #faf9f8;
  padding-top: 120px;
}
@media screen and (min-width: 767px) {
  body {
    padding-top: 95px;
  }
}

.form-group.is-invalid .invalid-feedback {
  display: block;
}

img {
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #5a5a5a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Karla", sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: '"Times New Roman",Times,serif';
}

button {
  background: none;
  border: none;
  color: transparent;
  padding: 0;
}

input[type=checkbox i] {
  border-radius: 0;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
  border: none;
}

.page-link:focus {
  border-color: #464646;
  box-shadow: 0 0 0 0;
}
.page-link:hover {
  border-color: #464646;
}

.hero-page h1,
.hero-page h2 {
  letter-spacing: 0.2rem;
}
.hero-page .inner-hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
}
.hero-page .hero-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  letter-spacing: 0.3rem;
  transition: 0.4s ease-in-out;
}
.hero-page .hero-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-page .inner-hero-section img,
.hero-page .inner-hero-section svg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.hero-page .hero-subsection-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 767px) {
  .hero-page .hero-subsection-block {
    flex-direction: row;
    width: 100%;
  }
}
.hero-page .hero-subsection-block .hero-subsection {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .hero-page .hero-subsection-block .hero-subsection {
    width: 50%;
  }
}
.hero-page .hero-subsection-block .hero-subsection img,
.hero-page .hero-subsection-block .hero-subsection svg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: cover;
  z-index: -2;
}

.shopify-challenge__container {
  margin: 0 auto 1rem auto;
}
.shopify-challenge__container .shopify-challenge__button {
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 0;
  margin: 0 auto 1rem auto;
}

.login-form,
.forgot-password-form {
  width: 100%;
  max-width: 330px;
  margin: auto;
}
.login-form .forgot-pw,
.forgot-password-form .forgot-pw {
  justify-content: flex-end;
  display: flex;
  font-size: 0.8rem;
}
.login-form .forgot-pw a,
.forgot-password-form .forgot-pw a {
  transition: all 0.3s ease-in-out;
}
.login-form .forgot-pw a:hover,
.forgot-password-form .forgot-pw a:hover {
  color: black;
}
.login-form .text-center,
.forgot-password-form .text-center {
  color: #9c9798;
}
.login-form .text-center a,
.forgot-password-form .text-center a {
  color: #9c9798;
  transition: all 0.3s ease-in-out;
}
.login-form .text-center a:hover,
.forgot-password-form .text-center a:hover {
  color: black;
}

.product-list-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 250px;
  position: relative;
}
.img-container p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  border-top: 2px solid #e23258;
  border-left: 2px solid #e23258;
  padding: 5px;
  color: #e23258;
  font-weight: bold;
}

.product-detail-container {
  margin-top: auto;
}
.product-detail-container p,
.product-detail-container del {
  font-size: 0.8rem;
}
.product-detail-container .price {
  font-weight: bold;
  margin-right: 4px;
}

.vendor {
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
}

.rec-card {
  font-size: 0.8rem;
}
.rec-card .rec-img {
  height: 320px;
  object-position: center;
  object-fit: center;
}
.rec-card .card-body {
  padding: 0.6rem;
}

.nav-header {
  background-color: #faf9f8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.nav-header .cart-badge {
  position: absolute;
  top: -2rem;
  right: -2rem;
  z-index: -1;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff4040;
  box-shadow: 0 0 0 0.3rem #ff9f9f;
}
.nav-header .nav-container {
  padding: 15px 15px 15px 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container {
    padding: 15px;
  }
}
.nav-header .nav-container .brand {
  position: absolute;
  top: 4px;
  left: 6px;
}
.nav-header .nav-container .brand img {
  height: 42px;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .brand {
    top: 22px;
    left: 40%;
  }
  .nav-header .nav-container .brand img {
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .nav-header .nav-container .brand {
    top: 32px;
    left: 31%;
  }
  .nav-header .nav-container .brand img {
    height: 36px;
  }
}
.nav-header .nav-container .mobile-nav {
  display: none;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .mobile-nav {
    display: flex;
    justify-content: flex-end;
  }
}
.nav-header .nav-container .nav-bar .nav-menu {
  display: flex;
  list-style-type: none;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item {
  position: relative;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 25px;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item a:hover {
  color: black;
  background-color: #eaeaea;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu > a {
  position: relative;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu > a:after {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #e23258;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu > a:after {
    right: 100px;
  }
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu > a:hover:after {
  color: #e23258;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu .sub-menu {
  position: absolute;
  z-index: 999;
  opacity: 0;
  transform: translateY(-200px);
  pointer-events: none;
  transition: 0.5s ease-out;
  min-width: 100%;
  width: max-content;
  background-color: #f5f5f5;
  list-style-type: none;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu .sub-menu {
    position: relative;
  }
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu .sub-menu .menu-item {
  width: 100%;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu:hover > .sub-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu:hover > .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .nav-bar .nav-menu .menu-item.has-sub-menu:hover > .sub-menu .sub-menu {
    left: 0;
  }
}
@media screen and (max-width: 840px) {
  .nav-header .nav-container .nav-bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200vh;
    z-index: 999;
    background-color: #f5f5f5;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  .nav-header .nav-container .nav-bar.is-active {
    opacity: 1;
    pointer-events: all;
  }
  .nav-header .nav-container .nav-bar .nav-menu {
    flex-direction: column;
    padding-top: 30px;
    text-align: right;
  }
  .nav-header .nav-container .nav-bar .nav-menu .has-sub-menu > .sub-menu {
    display: none;
    position: relative;
  }
  .nav-header .nav-container .nav-bar .nav-menu .has-sub-menu > .sub-menu .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .nav-header .nav-container .nav-bar .nav-menu .has-sub-menu:hover > .sub-menu {
    display: block;
  }
}
.nav-header .menu-btn {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 1000;
}
.nav-header .menu-btn__burger {
  z-index: 10;
  width: 22px;
  height: 2px;
  background: #e23258;
  transition: all 0.5s ease-in-out;
}
.nav-header .menu-btn__burger::before,
.nav-header .menu-btn__burger::after {
  width: 22px;
  height: 2px;
  background: #e23258;
  content: "";
  position: absolute;
  display: block;
  transition: all 0.5s ease-in-out;
}
.nav-header .menu-btn__burger::before {
  transform: translateY(-7px);
}
.nav-header .menu-btn__burger::after {
  transform: translateY(7px);
}
.nav-header .menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.nav-header .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.nav-header .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.nav-header .user-icon,
.nav-header .bag-icon,
.nav-header .search-icon {
  width: 20px;
  height: 20px;
  z-index: 998;
  margin-left: 6px;
}
.nav-header .user-icon img svg,
.nav-header .bag-icon img svg,
.nav-header .search-icon img svg {
  height: 20px;
  width: 20px;
}
.nav-header .bag-icon a {
  position: relative;
}
.nav-header .bag-icon a .cart-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.8rem;
  z-index: -1;
  border-radius: 50%;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e23258;
  box-shadow: 0 0 0 0.3rem #fdaaaa;
}
.nav-header .search-icon {
  display: none;
}
@media screen and (max-width: 840px) {
  .nav-header .search-icon {
    display: inline-block;
  }
}

.icons-section {
  display: flex;
  column-gap: 5px;
  padding-right: 25px;
}

.search-bar {
  display: inline-block;
}
.search-bar .search-bar-icon {
  display: none;
}
.search-bar input {
  font-size: 0.9rem;
}
@media screen and (max-width: 840px) {
  .search-bar {
    background-color: #faf9f8;
    height: 175px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    transform: translateY(-200px);
    transition: all 0.5s ease-in-out;
    z-index: 1001;
    align-items: center;
  }
  .search-bar.is-active {
    transform: translateY(0px);
  }
  .search-bar form {
    display: flex;
    justify-content: center;
  }
  .search-bar .search-bar-icon,
.search-bar .close-search-bar-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .search-bar .search-bar-input {
    border: none;
    margin: 0 1rem 0 1rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "image1 image1" "infoblock infoblock" "cartblock cartblock" "image2 image2";
}
@media screen and (min-width: 500px) {
  .grid-container {
    grid-template-areas: "image1 cartblock" "infoblock cartblock" "image2 cartblock";
  }
}
.grid-container .add-to-cart-block {
  grid-area: cartblock;
  position: relative;
}
.grid-container .img-1,
.grid-container .long-description,
.grid-container .img-2,
.grid-container .img-3 {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.grid-container .img-1 a,
.grid-container .long-description a,
.grid-container .img-2 a,
.grid-container .img-3 a {
  cursor: crosshair;
}
.grid-container .img-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-out;
}
.grid-container .description-block {
  position: relative;
  grid-area: infoblock;
  background-color: white;
  padding: 2rem;
}
.grid-container .description-block .saldi {
  position: absolute;
  font-size: 1.3rem;
  text-transform: uppercase;
  top: -15px;
  left: 15px;
  color: #e23258;
  font-weight: bold;
}
.grid-container .description-block p {
  margin-right: 5px;
}
.grid-container .description-block ul {
  font-size: 0.9rem;
  list-style-type: disc;
  padding-left: 15px;
}
.grid-container .description-block .compare-at-price {
  color: #9c9798;
}
.grid-container .first-images-wrapper,
.grid-container .second-images-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  grid-area: image1;
}
@media screen and (min-width: 767px) {
  .grid-container .first-images-wrapper,
.grid-container .second-images-wrapper {
    flex-direction: row;
    column-gap: 1rem;
  }
}
.grid-container .second-images-wrapper {
  grid-area: image2;
}

.long-description {
  background-color: white;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.long-description h1 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.long-description p {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
}

.modal-body {
  position: relative;
}
.modal-body .close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.modal-body .close-modal:hover .close-modal-icon {
  filter: invert(0%);
}
.modal-body .close-modal .close-modal-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  filter: invert(60%);
  transition: 0.4s ease-in-out;
}

.form-select:focus,
.form-control:focus {
  border-color: #464646;
  box-shadow: 0 0 0 0;
}

.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.products-page {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.products-page .active-filters {
  display: flex;
  margin: 0.5rem;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.products-page .active-filters p {
  font-size: 0.7rem;
  font-weight: 700;
}
.products-page .active-filters .close-icon {
  width: 1rem;
  margin-bottom: 0.3rem;
  filter: invert(60%);
  transition: all 0.4s ease-in-out;
}
.products-page .active-filters .close-icon:hover {
  filter: invert(0%);
}
.products-page .button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.products-page .button-container .btn-light {
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  text-align: center;
}
@media screen and (min-width: 990px) {
  .products-page .button-container .btn-light {
    display: none;
  }
}
.products-page .button-container .btn-light .control-icon {
  width: 1rem;
  margin-left: 0.5rem;
  transform: rotate(90deg);
}
.products-page .filters-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  padding-left: 2rem;
  top: 0;
  right: 0;
  align-items: left;
  justify-content: flex-start;
  background-color: #faf9f8;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  z-index: 999;
  transform: translateX(80rem);
  transition: 1s ease-in-out;
  padding-left: 2rem;
}
.products-page .filters-container.show {
  transform: translateX(0rem);
}
@media screen and (min-width: 990px) {
  .products-page .filters-container {
    position: relative;
    height: auto;
    width: auto;
    column-gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transform: translateX(0rem);
    z-index: 0;
    padding-top: 0rem;
  }
}
.products-page .filters-container .sort-section {
  display: flex;
  flex-direction: column;
}
.products-page .filters-container .sort-section p {
  border-bottom: 1px solid black;
  font-size: 0.6rem;
  margin-left: 12px;
}
@media screen and (max-width: 990px) {
  .products-page .filters-container .sort-section p {
    display: none;
  }
}
.products-page .filters-container .filter-section {
  display: flex;
  flex-direction: column;
}
.products-page .filters-container .filter-section .filter-subsection {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .products-page .filters-container .filter-section .filter-subsection {
    flex-direction: row;
  }
}
.products-page .filters-container .filter-section p {
  border-bottom: 1px solid black;
  font-size: 0.6rem;
  margin-left: 12px;
}
@media screen and (max-width: 990px) {
  .products-page .filters-container .filter-section p {
    display: none;
  }
}
.products-page .filters-container .delete-filters {
  font-weight: 700;
  font-size: 0.7rem;
  padding-left: 12px;
  padding-top: 12px;
}
.products-page .filters-container #close-filters-icon {
  width: 2rem;
  position: absolute;
  top: 15px;
  right: 15px;
}
@media screen and (min-width: 990px) {
  .products-page .filters-container #close-filters-icon {
    display: none;
  }
}
.products-page .filters-container .sort-form {
  background-color: #faf9f8;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
  width: 18rem;
  padding-left: 12px;
  color: black;
}
.products-page .filters-container .sort-form option {
  font-size: 0.7rem;
  font-weight: 700;
}
.products-page .filters-container .dropdown .dd-label {
  font-size: 0.7rem;
}
.products-page .filters-container .dropdown .dropdown-menu {
  padding: 0.5rem;
  border-radius: 0;
}
.products-page .filters-container .dropdown .btn-secondary,
.products-page .filters-container .dropdown .btn-check:focus + .btn-secondary,
.products-page .filters-container .dropdown .btn-secondary:focus {
  color: black;
  background-color: #faf9f8;
  border: none;
  border-radius: 0;
  font-size: 0.7rem;
  font-weight: 700;
  box-shadow: 0 0 0 0;
}
.products-page .filters-container .dropdown .btn-check:focus + .btn-secondary,
.products-page .filters-container .dropdown .btn-secondary:focus {
  box-shadow: 0 0 0 0;
}
.products-page .filters-container .dropdown .btn-secondary:hover {
  color: black;
  background-color: #faf9f8;
}
.products-page .filters-container .dropdown .btn-secondary:after {
  border: none;
  content: "";
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 16px 12px;
  width: 30px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.products-page .filters-container .dropdown .applybtn {
  border-radius: 0;
  background-color: white;
  border: black solid 0.5px;
  font-size: 0.7rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.search-suggestions {
  border-radius: 0;
  margin-bottom: 0.5rem;
}

.cart .cart-page {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .cart .cart-page {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.cart .cart-page .cart-item {
  font-size: 0.8rem;
  margin: 0 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  max-width: 930px;
  border-bottom: 1px solid #9c9798;
  gap: 1rem;
}
@media screen and (min-width: 767px) {
  .cart .cart-page .cart-item {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cart .cart-page .cart-item .image-block {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
}
.cart .cart-page .cart-item .image-block img {
  max-width: 220px;
}
@media screen and (min-width: 767px) {
  .cart .cart-page .cart-item .image-block {
    justify-content: center;
  }
  .cart .cart-page .cart-item .image-block img {
    width: 190px;
  }
}
.cart .cart-page .cart-item .summary-block {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
}
.cart .cart-page .cart-item .summary-block input {
  height: 2rem;
  width: 5rem;
  text-align: center;
  border: 1px solid black;
}
.cart .cart-page .cart-item .summary-block input:focus-visible {
  outline: none;
}
.cart .cart-page .cart-item .summary-block .price-block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.cart .cart-page .cart-item .summary-block .price-block p {
  text-align: right;
}
.cart .cart-page .cart-item .summary-block .price-block a {
  font-size: 0.7rem;
  color: #9c9798;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.cart .cart-page .cart-item .summary-block .price-block a:hover {
  color: black;
}
.cart .cart-page .cart-summary {
  margin: 0 2rem 0 2rem;
  border: 1px solid black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart .cart-page .cart-summary h1 {
  font-size: 1.5rem;
}
.cart .cart-page .cart-summary .note {
  font-size: 0.7rem;
}

footer .cr {
  font-size: 0.8rem;
}
footer .footer-section {
  text-align: left;
}
@media screen and (max-width: 770px) {
  footer .footer-section {
    text-align: center;
  }
}
footer .footer-links {
  background-color: #faf9f8;
}
footer img {
  width: 1.2rem;
  filter: invert(60%);
}
footer .sib-form {
  font-family: "Karla", sans-serif;
  text-align: center;
  background-color: white;
}
footer .sib-form #error-message {
  font-size: 16px;
  text-align: left;
  background-color: #faf9f8;
  border-color: #ff4949;
  max-width: 540px;
}
footer .sib-form #success-message {
  font-size: 16px;
  text-align: left;
  color: #085229;
  background-color: #faf9f8;
  border-color: #13ce66;
  max-width: 540px;
}
footer .sib-form .entry__field {
  border-radius: 0;
}
footer .sib-form .entry__choice {
  text-indent: -0.8em;
}
footer .sib-form .entry__error--primary {
  font-size: 16px;
  text-align: left;
  color: #661d1d;
  background-color: #faf9f8;
  border-color: #ff4949;
}
footer .sib-form .sib-form-block {
  text-align: left;
}
footer .sib-form .checkbox {
  border-radius: 0;
}
footer .sib-form .entry__specification {
  font-size: 12px;
  text-align: left;
  color: #8390a4;
}
footer .sib-form .confirm-label {
  font-size: 14px;
  text-align: left;
  color: #3c4858;
  background-color: transparent;
}
footer .sib-form #sib-container {
  text-align: center;
  background-color: #f2e6e3;
  border: none;
}
footer .sib-form #sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
}
footer .sib-form #sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
}
footer #button-addon1 {
  color: #ffc371;
}
footer i {
  color: #ffc371;
}
footer h6 {
  font-size: 1rem;
}
footer li {
  font-size: 0.8rem;
}
footer .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
footer .form-control.shadow-0:focus {
  box-shadow: none;
}

.page-template img {
  max-height: 15rem;
  width: 100%;
}
.page-template .subtitle {
  font-weight: 700;
}

.account p {
  color: #9c9798;
  font-size: 0.8rem;
}
.account p a {
  color: #9c9798;
  transition: all 0.4s ease-in-out;
}
.account p a:hover {
  color: black;
}

.address-card {
  min-height: 220px;
}

#announcement-bar-with-slider.ab-slider {
  position: fixed;
}

#announcement-bar-with-slider ~ main {
  padding-top: 55px;
}

#announcement-bar-with-slider ~ .search-bar {
  height: 165px;
}